# compiled output
dist
node_modules

# Tests
coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

samconfig.toml

makefile

.aws-sam

.env.prod
.env.dev
.env.test